<div class="po-wrapper">
  <po-menu [p-collapsed]="true" [p-menus]="menus">
    <div *p-menu-header-template class="po-p-2 po-font-title sample-menu-header-text-color">
      <p>Welcome,</p>
      <p>
        <b> John Doe </b>
      </p>
    </div>
  </po-menu>

  <po-page-default p-title="Home" [p-actions]="pageActions">

    <div class="content">
      <full-calendar
        [options]="calendarOptions"
      >
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>

  </po-page-default>

  <po-modal #userDetailModal p-title="Appointment Scheduled">
    <po-dynamic-view [p-fields]="detailFields" [p-value]="detailedUser"> </po-dynamic-view>
  </po-modal>
</div>
